/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;  
}

/*to do: 
--issues--
1. planeet bolletjes op orbit zetten > zet de translate in de animatie (anders overschrijft ie translate)
2. schaduw maak radial gradient en verschuif
3. naam planeten: ipv ::before, misschien :hover > dan langzamer draaien?

--nog niet aan toegekomen--
4. header/footer een mooi plekje geven
5. font + afbeeldingen "galaxy-feel"
6. link naar detailpagina over ruimtewezens per planeet
7. extra maantjes/ringen etc
8. frame detailpagina
9. tekst detailpagina
*/


:root {
  --zon-color: goldenrod;
  --mercurius-color: linear-gradient(90deg, red, goldenrod);
  --schaduw-gradient:linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
  --standaardMaat:1em;
  --tempo:1;
}



body {
    background-color: black;
}

header {
    font-family: 'Courier New', Courier, monospace;

    color: white;
    text-align: left;
    padding: 1em 3em;
}

footer {  
    position:absolute;
    display:block;

    margin: 0;
    bottom: var(--standaardMaat);
    left: 5 * var(--standaardMaat);

    font-family: 'Courier New', Courier, monospace;
    
    color: white;
    text-align: center;  
   
}

ul {
    position: relative;
    top:40vmin;

    list-style: none;  
    transform-style: preserve-3d;
}

.zon {
    position: absolute;
    display: block;
    top:calc((100% - 15vmin) /2); 
    left:calc((100% - 15vmin) /2);
        
    width: 15vmin;
    height: 15vmin;
    
    border-radius: 50%;
    background-color: var(--zon-color);
    background-image: radial-gradient(yellow, goldenrod); 

    transform-style: preserve-3d;   
}


/*cirkel voor pad-orbit om zon*/
.planeet {
    position: absolute;
    
    display:flex;
    justify-content: center;
    
    top:calc((100% - var(--maat)) /2);
    left:calc((100% - var(--maat)) /2);
    
    width: var(--maat);
    height: var(--maat);
    border: calc(var(--standaardMaat) * 0.08) grey solid;
    margin: 0;
    padding: 0;
    border-radius: 50%;

    transform-style: preserve-3d;

    animation: draaien calc(var(--orbit-time) * var(--tempo)) linear infinite;
    
}

/* planeten bovenkant boven houden en schaduw*/
div[class$="planeet"] {
    border-radius: 50%;

    position:absolute;
    display: block;

    transform-style: preserve-3d;
    animation: schaduw var(--orbit-time) linear infinite,
    oporbit var(--orbit-time) linear infinite;

    background-size: 500% 500%, auto auto;
    background-position-x:right, center;
}


/* naam bij planeten
div[class$="planeet"]::before {
    content:var(--planeetNaam);
    color:white;
    padding:calc(var(--hoogte) * 1.5);
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--hoogte);
} */

.mercurius {
    --maat:19vmin;
    --orbit-time:3s;
}

/* bolletje voor planeet*/
.mercurius__planeet {
    --planeetNaam:"Mercurius";
    --hoogte: 1vmin;
    
    height:1vmin;
    width:1vmin;
    background:var(--schaduw-gradient), var(--mercurius-color);
}

.venus {
    --maat:25vmin;
    --orbit-time:3s;
}

.venus__planeet {
    --planeetNaam:"Venus";
    --hoogte: 2vmin;
    height: 2vmin;
    width: 2vmin;
    background: var(--schaduw-gradient), var(--mercurius-color);
}

.aarde {
    --maat:31vmin;
    --orbit-time:10s;
}

.aarde__planeet {
    --planeetNaam:"Aarde";
    --hoogte: 2vmin;
    height: 2vmin;
    width: 2vmin;
    background: var(--schaduw-gradient), var(--mercurius-color);
}

.mars {
    --maat:35vmin;
    --orbit-time:1s;
}

.mars__planeet {
    --planeetNaam:"Mars";
    --hoogte: 1vmin;
    height: 1vmin;
    width: 1vmin;
    background: var(--schaduw-gradient), var(--mercurius-color);
}

.jupiter {
    --maat:47vmin;
    --orbit-time:30s;
}

.jupiter__planeet {
    --planeetNaam:"Jupiter";
    --hoogte: 5vmin;
    height:5vmin;
    width:5vmin;
    background: var(--schaduw-gradient), var(--mercurius-color);
}

.saturnus {
    --maat:59vmin;
    --orbit-time:50s;
}

.saturnus__planeet{
    --planeetNaam:"Saturnus";
    --hoogte: 5vmin;
    width:5vmin;
    height:5vmin;
    background: var(--schaduw-gradient), var(--mercurius-color);    
}

.uranus {
    --maat:67vmin;
    --orbit-time:90s;
}

.uranus__planeet{
    --planeetNaam:"Uranus";
    --hoogte: 3vmin;
    width: 3vmin;
    height: 3vmin;
    background: var(--schaduw-gradient), var(--mercurius-color);
}

.neptunus {
    --maat:75vmin;
    --orbit-time:9s;
}

.neptunus__planeet {
    --planeetNaam:"Neptunus";
    --hoogte: 3vmin;
    width: 3vmin;
    height: 3vmin;
    background-image: var(--schaduw-gradient), var(--mercurius-color);  
}


@keyframes draaien {
    0% {
    transform: rotateX(75deg) rotateZ(0deg); }
    100% {
    transform: rotateX(75deg) rotateZ(-360deg); }
}

@keyframes schaduw {
    0%{
    background-position-x:right, center;
    }
    50% {
    background-position-x:center, center;    
    }
    100%{
    background-position-x:left, center;
    }
}

@keyframes oporbit {
    0% {
    transform: translatey(calc(var(--hoogte)/-2)) rotatex(-75deg) rotatey(0deg); 
    }
    100% {
    transform: translatey(calc(var(--hoogte)/-2)) rotatex(-75deg) rotatey(-365deg); 
    }
}

/* z waarden */
.zon {
    z-index: 10;
}
.mercurius{
    z-index: 20;
}
.venus{
    z-index: 30;
}
.aarde{
    z-index: 40;
}
.mars{
    z-index: 50;
}
.jupiter{
    z-index: 60;
}
.saturnus{
    z-index: 70;
}
.uranus{
    z-index: 80;
}
.neptunus{
    z-index: 90;
}
a {
  color: hotpink;
}
a:visited {
  color: antiquewhite;
}
